<ion-view view-title="内饰颜色">
    <ion-content class="padding">
        <ul class="list color-list-demo">
            <div class="item item-divider">
                颜色
            </div>
            <a href="#/tab/newOrder-detail" class="item grey">
                <span class="color-demo light-bg light-border"></span> &nbsp;&nbsp;白色
            </a>
            <a href="#/tab/newOrder-detail" class="item assertive">
                <span class="color-demo assertive-bg assertive-border"></span> &nbsp;&nbsp;红色
            </a>
            <a href="#/tab/newOrder-detail" class="item energized">
                <span class="color-demo energized-bg energized-border"></span> &nbsp;&nbsp;黄色
            </a>
            <a href="#/tab/newOrder-detail" class="item positive">
                <span class="color-demo positive-bg positive-border"></span> &nbsp;&nbsp;蓝色
            </a>
        </ul>
    </ion-content>
</ion-view>
