<ion-view view-title="所在地">
    <ion-content class="padding">
        <div class="row">
            <div class="col col-90" style="border:none">
                <div class="list">
                    <a href="#/tab/newOrder-detail" class="item" style="border-left:none; border-right:none;">{{城市名称}}</a>
                </div>
            </div>
            <div class="col">
                <a href="#/tab/newOrder-detail" class="button button-small button-clear" style="color:rgb(91, 3, 4);"> <strong>{{字母}}</strong></a>
            </div>
        </div>
    </ion-content>
</ion-view>
