<ion-view view-title="修改密码">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">输入旧密码：</span>
                <input type="password">
            </label>
            <label class="item item-input">
                <span class="input-label">输入新密码：</span>
                <input type="password">
            </label>
            <label class="item item-input">
                <span class="input-label">确认新密码：</span>
                <input type="password">
            </label>
        </div>
        <div class="btn-middle">
            <button class="button button-negative button-big">取消</button>
            <button class="button button-default button-big">确定</button>
        </div>
    </ion-content>
</ion-view>
