<ion-view view-title="待办事项">
    <ion-content class="padding">
        <div class="list">
            <a href="#" class="item item-thumbnail-left">
                <img src="img/car-demo.jpg">
                <h3>奥迪奥迪奥迪奥迪</h3>
                <p>2013款 &nbsp;&nbsp; 绿/绿</p>
            </a>
            <a href="#" class="item item-thumbnail-left">
                <img src="img/car-demo.jpg">
                <h3>奥迪奥迪奥迪奥迪</h3>
                <p>2013款 &nbsp;&nbsp; 绿/绿</p>
            </a>
            <a href="#" class="item item-thumbnail-left">
                <img src="img/car-demo.jpg">
                <h3>奥迪奥迪奥迪奥迪</h3>
                <p>2013款 &nbsp;&nbsp; 绿/绿</p>
            </a>
            <a href="#" class="item item-thumbnail-left">
                <img src="img/car-demo.jpg">
                <h3>奥迪奥迪奥迪奥迪</h3>
                <p>2013款 &nbsp;&nbsp; 绿/绿</p>
            </a>
        </div>
    </ion-content>
</ion-view>
