<ion-view view-title="订单信息">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="order in orders" type="item-text-wrap" href="#/tab/orders/{{order.id}}">
                <img ng-src="{{carStyle.车型图片}}">
                <h2>{{order.车型}}</h2>
                <!-- <h3 style="text-align:center">跑车</h3> -->
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
