<!-- <ion-tabs class="tabs-color-active-positive">
    <ion-tab title="待办事项" href="#/tab/toDos">
        <ion-nav-view name="tab.toDos"></ion-nav-view>
    </ion-tab>
    <ion-tab title="订单查询" href="#/tab/orders">
        <ion-nav-view name="tab.orders"></ion-nav-view>
    </ion-tab>
    <ion-tab title="新增订单" href="#/tab/newOrder">
        <ion-nav-view name="tab.newOrder"></ion-nav-view>
    </ion-tab>
</ion-tabs>
 -->
<ion-tabs class="tabs-color-active-positive">
    <ion-tab title="待办事项" ui-sref="tab.toDos">
        <ion-nav-view name="tab.toDos"></ion-nav-view>
    </ion-tab>
    <ion-tab title="订单查询" ui-sref="tab.orders">
        <ion-nav-view name="tab.orders"></ion-nav-view>
    </ion-tab>
    <ion-tab title="新增订单" ui-sref="tab.newOrder">
        <ion-nav-view name="tab.newOrder"></ion-nav-view>
    </ion-tab>
</ion-tabs>