<ion-tabs class="tabs-color-active-positive">
    <!-- toDoList Tab -->
    <ion-tab title="待办事项" href="#/tab/toDoList">
        <ion-nav-view name="tab-toDoList"></ion-nav-view>
    </ion-tab>
    <!-- orderTracking Tab -->
    <ion-tab title="订单查询" href="#/tab/orderTracking">
        <ion-nav-view name="tab-orderTracking"></ion-nav-view>
    </ion-tab>
    <!-- newOrders Tab -->
    <ion-tab title="新增订单" href="#/tab/newOrders">
        <ion-nav-view name="tab-newOrders"></ion-nav-view>
    </ion-tab>
</ion-tabs>
