<ion-nav-bar>
  <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-icon-only">
  <ion-tab icon-on="ion-ios-list" icon-off="ion-ios-list-outline" ui-sref="cheping.todos">
    <ion-nav-view name="todos"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ui-sref="cheping.case">
    <ion-nav-view name="cases"></ion-nav-view>
  </ion-tab>
  <ion-tab ng-if="ctrl.showNewTab" icon-on="ion-ios-plus" icon-off="ion-ios-plus-outline">
    <ion-nav-view name="new"></ion-nav-view>
  </ion-tab>
  <ion-tab ng-if="ctrl.showWarningTab" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-nav-view name="warning"></ion-nav-view>
  </ion-tab>
</ion-tabs>
