<ion-view view-title="品牌选择">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="createDetailBrandCtrl.goBack()">
        <i class="ion-ios-arrow-back"></i>
      </button>
    </div>
    <h1 class="title">品牌选择</h1>
  </ion-header-bar>
  <ion-content class="cp-brand">
    <ion-radio ng-repeat="item in createDetailBrandCtrl.items"
               ng-value="item"
               ng-model="createDetailBrandCtrl.newOrder.brand"
               name="brand">{{ item }}
    </ion-radio>
</ion-view>