<ion-view view-title="车辆所在地">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="createDetailCityCtrl.goBack()">
        <i class="ion-ios-arrow-back"></i>
      </button>
    </div>
    <h1 class="title">车辆所在地</h1>
  </ion-header-bar>
  <ion-content class="cp-brand">
    <ion-radio ng-repeat="item in createDetailCityCtrl.items"
               ng-value="item"
               ng-model="createDetailCityCtrl.newOrder.city"
               name="brand">{{ item }}
    </ion-radio>
</ion-view>