<ion-view view-title="内饰颜色">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        <p>选择内饰颜色</p>
      </ion-item>
      <ion-item class="item item-input-inset item-icon-left">
        <label class="item-input-wrapper">
          <input type="text" name="selectColor" ng-model="ctrl.selected" placeholder="输入车辆内饰颜色" required minlength="1" maxlength="18">
        </label>
        <button class="button button-small"  ng-disabled="!ctrl.buttonEnable()"  ng-click="ctrl.selectConfirm()">确认</button>
      </ion-item>
    </ion-list>
    <ion-radio ng-repeat="item in ctrl.items"
               ng-value="item.colorName"
               name="innerColor"
               ng-model="ctrl.selected"><span style="width: 30px; height: 30px; background-color: silver;border: 1px solid #6E6E6E;display: inline-block; margin-right: 25px; vertical-align: middle;" ng-style="{ 'background-color': item.colorCode }"></span> {{ item.colorName }}
    </ion-radio>
  </ion-content>
</ion-view>