<ion-view view-title="车系选择">
  <ion-content>
    <ion-refresher
      pulling-icon="ion-arrow-down-c"
      spinner="spiral"
      on-refresh="ctrl.doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-divider">
        <p>手动输入或在列表中选择车系</p>
      </ion-item>
      <ion-item class="item item-input-inset item-icon-left">
        <label class="item-input-wrapper">
          <input type="text" name="selectSeries" ng-model="ctrl.selected" placeholder="输入车系" required minlength="1" maxlength="18">
        </label>
        <button class="button button-small" ng-click="ctrl.selectConfirm()">确认</button>
      </ion-item>
    </ion-list>


    <ion-radio ng-repeat="item in ctrl.items"
               ng-value="item"
               name="series"
               ng-model="ctrl.selected"> {{ item }}
    </ion-radio>
  </ion-content>
</ion-view>