<ion-view title="外源交易记录">
  <ion-content class="cases">
    <ion-refresher
      pulling-icon="ion-arrow-down-c"
      spinner="spiral"
      on-refresh="_case.doRefresh()">
    </ion-refresher>

    <form name="record">
      <div class="list list-inset padding">
        <label class="item item-input">
          <i class="icon ion-model-s placeholder-icon"></i>
          <input type="number" name="min" ng-model="_case.min" min="1" max="10000000" placeholder="最小里程数" required>
        </label>
      </div>
      <div class="list list-inset padding">
        <label class="item item-input">
          <i class="icon ion-model-s placeholder-icon"></i>
          <input type="number" name="max" ng-model="_case.max" min="1" max="10000000" placeholder="最大里程数" required>
        </label>
      </div>
      <ion-list>
        <ion-item>
          <button class="button button-block button-cp-green" ng-click="_case.chongzhi()">重置</button>
        </ion-item>

        <ion-item>
          <button class="button button-block button-cp-dark" ng-click="_case.chaxun()" ng-disabled="!_case.enableButton()">查询</button>
        </ion-item>

      </ion-list>
    </form>

    <ion-list class="item-icon-right">
      <ion-item class="item-divider"></ion-item>
      <ion-item type="item-text-wrap">
        <span>外源库存：</span>
        <span ng-bind="_case.count" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>外源均价：</span>
        <span ng-bind="'&yen' + _case.webAveragePrice" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>销售底价：</span>
        <span ng-bind="'&yen' + _case.floorPrice" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>网络报价：</span>
        <span ng-bind="'&yen' + _case.webPrice" class="pull-right"></span>
      </ion-item>
    </ion-list>



    <ion-list>
      <ion-item class="item-divider"></ion-item>
      <ion-item ng-repeat="case in _case.items">
        <p ng-bind="case.source"></p>
        <label>&nbsp;<span ng-bind="_case.brand"></span>&nbsp;</label>
        <label>&nbsp;<span ng-bind="_case.series"></span>&nbsp;</label>
        <label>&nbsp;<span ng-bind="(case.outerColor | colorName) + '/' + (case.innerColor | colorName)"></span>&nbsp;</label>
        <div>
          <span class="price" ng-bind="'&yen' + case.price"></span>
          <span ng-bind="(case.licenseTime | time)"></span>
          <span ng-bind="case.mileage" class="state"></span><span>公里</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>