<ion-view title="事项">
  <ion-content class="cases">
    <ion-refresher
      pulling-icon="ion-arrow-down-c"
      spinner="spiral"
      on-refresh="cases.doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="case in cases.items" class="item-thumbnail-left item-icon-right" ui-sref="cheping.case-detail({caseId: case.id, caseNo: case.serialId})">
        <img ng-src="{{ case.photo }}">

          <p ng-bind="case.modelName"></p>
            <label>&nbsp;<span ng-bind="case.brandName"></span>&nbsp;</label>
            <label>&nbsp;<span ng-bind="case.seriesName"></span>&nbsp;</label>
            <label>&nbsp;<span ng-bind="(case.outerColor | colorName) + '/' + (case.innerColor | colorName)"></span>&nbsp;</label>
        <div>
          <span class="price" ng-bind="'&yen' + case.purchasePrice"></span>
          <span ng-bind="(case.vehicleLocation | city)"></span>
          <span ng-bind="(case.state | state)" class="state"></span>
        </div>

        <i class="icon ion-chevron-right icon-accessory" ></i>
      </ion-item>
    </ion-list>
    <button ng-click="cases.loadMore()" ng-if="cases.hasNextPage" class="button button-block button-cp-dark"> 加载更多 </button>
  </ion-content>
</ion-view>