<ion-view title="事项">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="case in cases.items" class="item-icon-right" >
        <img src="assets/img/car.png">
        <p ng-bind="case.modelName"></p>
        <div>
          <label ng-bind="case.brandName"></label>
          <label ng-bind="case.seriesName"></label>
          <label ng-bind="(case.outerColor | colorName)"></label>
          <label ng-bind="(case.innerColor | colorName)"></label>
        </div>
        <p ng-bind="'&yen' + case.purchasePrice"></p>
        <p ng-bind="(case.vehicleLocation | city)"></p>
        <p ng-bind="(case.state | state)"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <button ng-click="cases.loadMore()"> 加载更多 </button>
  </ion-content>
</ion-view>