<ion-view view-title="订单详情">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="todoDetailCtrl.goBack()">
        <i class="ion-ios-arrow-back"></i>
      </button>
    </div>
    <h1 class="title">订单详情</h1>
  </ion-header-bar>
  <ion-content class="cp-order-detail">
    <ion-list class="item-icon-right">
      <ion-item>
        <h2>订单号：{{ todoDetailCtrl.order.orderNo }}</h2>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
      <ion-item type="item-text-wrap">
        <h2>品牌: </h2>
        <br>
        <p>{{ todoDetailCtrl.order.brand }}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>车系: </h2>
        <br>
        <p>{{ todoDetailCtrl.order.serial }}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>车型: </h2>
        <br>
        <p>{{ todoDetailCtrl.order.model }}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>外部颜色:</h2>
        <br>
        <p>{{ todoDetailCtrl.order.color }}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>内饰颜色:</h2>
        <br>
        <p>{{ todoDetailCtrl.order.innerColor }}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>上牌时间:</h2>
        <br>
        <p>{{ todoDetailCtrl.order.carPlateDate }}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>车辆所在地:</h2>
        <br>
        <p>{{ todoDetailCtrl.order.city }}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>表显里程: <span class="note">(单位：百公里）</span></h2>
        <br>
        <p>{{ todoDetailCtrl.order.drivingMileage }}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>合作方式: </h2>
        <br>
        <p>{{ todoDetailCtrl.order.cooperation }}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </ion-item>
      <ion-item class="item-divider">
        <p>选填信息</p>
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>出厂时间: </h2>
        <br>
        <p>{{ todoDetailCtrl.order.productionDate }}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>改装内容: </h2>
        <br>
        <p>{{ todoDetailCtrl.order.modified }}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </ion-item>
    </ion-list>

    <ion-list class="item-no-border">
    <ion-item>
      <button class="button button-block button-cp-dark" ng-click="todoDetailCtrl.createOrder()">确认</button>
      <button class="button button-block button-cp-green" ng-click="todoDetailCtrl.showPopup()">放弃</button>
      <script type="text/ng-template">
        <input type="text" placeholder="验车失败原因">
      </script>
    <!--<button class="button button-block button-cp-green" ng-click="todoDetailCtrl.resetNewOrder()">放弃</button>-->

    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
