<ion-view view-title="待办事项">
  <ion-header-bar>
    <h1 class="title">待办事项</h1>
  </ion-header-bar>
  <!--<ion-content>-->
    <!--<ion-list>-->
      <!--<ion-item class="item-avatar item-icon-right" ng-repeat="order in todosCtrl.orders" type="item-text-wrap" ui-sref="tabs.orderDetail({orderNo: order.orderNo})">-->
        <!--<img ng-src="{{ order.thumbnail }}">-->
        <!--<h2>{{ order.brand }}&nbsp;{{ order.model }}&nbsp;{{ order.city }}</h2>-->
        <!--<p>{{ order.year }}&nbsp;{{ order.color }}/{{ order.innerColor }}</p>-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-content>-->

  <!--<ion-content>-->
    <!--<div class="list card" ng-repeat="todo in todos" type="item-text-wrap" >-->

      <!--<div class="item item-remove-animate item-avatar item-icon-right" ui-sref="tabs.todoDetail({orderNo: todo.orderNo})">-->
        <!--<img ng-src="{{ todo.thumbnail }}">-->

        <!--<h2>{{ todo.brand }}</h2>-->

        <!--<p>{{ todo.model }}&nbsp;&nbsp;{{ todo.year }}</p>-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      <!--</div>-->

      <!--<div class="item item-body">-->
        <!--<img class="full-image" ng-src="{{ todo.thumbnail }}">-->

        <!--<div class="row">-->
          <!--<div class="col-40"><h2>外部颜色</h2></div>-->
          <!--<div class="col"><p class="text-right">{{ todo.color }}</p></div>-->
        <!--</div>-->

        <!--<div class="row">-->
          <!--<div class="col-40"><h2>内饰颜色</h2></div>-->
          <!--<div class="col"><p class="text-right">{{ todo.innerColor }}</p></div>-->
        <!--</div>-->

        <!--<div class="row">-->
          <!--<div class="col-40"><h2>上牌时间</h2></div>-->
          <!--<div class="col"><p class="text-right">{{ todo.carPlateDate }}</p></div>-->
        <!--</div>-->

        <!--<div class="row">-->
          <!--<div class="col-40"><h2>车辆所在地</h2></div>-->
          <!--<div class="col"><p class="text-right">{{ todo.province }}&nbsp;{{ todo.city }}</p></div>-->
        <!--</div>-->

        <!--<div class="row">-->
          <!--<div class="col-40"><h2>表显里程</h2></div>-->
          <!--<div class="col"><p class="text-right">{{ todo.drivingMileage }}&nbsp;百公里</p></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</ion-content>-->


  <ion-content>
    <ion-list>
      <ion-item class="item item-thumbnail-left item-icon-right" href="/">
        <img src="assets/img/LaFerrari_4.jpg">
        <h2>奥迪A4L 运动版 上海 <em>22.5万元</em></h2>
        <p>2013款 红/红</p>
        <p>已审核</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item item-thumbnail-left item-icon-right" href="/">
        <img src="assets/img/LaFerrari_4.jpg">
        <h2>奥迪A4L 运动版 上海 <em>22.5万元</em></h2>
        <p>2013款 红/红</p>
        <p>已审核</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item item-thumbnail-left item-icon-right" href="/">
      <img src="assets/img/LaFerrari_4.jpg">
      <h2>奥迪A4L 运动版 上海 <em>22.5万元</em></h2>
      <p>2013款 红/红</p>
      <p>已审核</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
      <ion-item class="item item-thumbnail-left item-icon-right" href="/">
      <img src="assets/img/LaFerrari_4.jpg">
      <h2>奥迪A4L 运动版 上海 <em>22.5万元</em></h2>
      <p>2013款 红/红</p>
      <p>已审核</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
      <ion-item class="item item-thumbnail-left item-icon-right" href="/">
      <img src="assets/img/LaFerrari_4.jpg">
      <h2>奥迪A4L 运动版 上海 <em>22.5万元</em></h2>
      <p>2013款 红/红</p>
      <p>已审核</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    </ion-list>

  </ion-content>
</ion-view>