<ion-view view-title="待办详情">
  <ion-content class="case-detail">
    <ion-list>
      <ion-item>
        <p>序列号：<span ng-bind="_case.caseNo"></span></p>
      </ion-item>
      <ion-item>
        <p>当前状态：<span ng-bind="(_case.state | state)"></span></p>
      </ion-item>
    </ion-list>
    <ion-list class="item-icon-right">
      <ion-item class="item-divider">
        <span>必填信息</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>车辆品牌：</span>
        <span ng-bind="_case.brandName" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>所属车系：</span>
        <span ng-bind="_case.seriesName" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>车辆型号：</span>
        <span ng-bind="_case.modelName" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>外部颜色：</span>
        <span ng-bind="(_case.outerColor | colorName)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>内饰颜色：</span>
        <span ng-bind="(_case.innerColor | colorName)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>上牌时间：</span>
        <span ng-bind="(_case.licenseTime | time)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>车辆所在地：</span>
        <span ng-bind="(_case.vehicleLocation | city)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>表显里程：</span>
        <span ng-bind="(_case.displayMileage)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>合作方式：</span>
        <span ng-bind="(_case.cooperationMethod | cooperationMethod)" class="pull-right"></span>
      </ion-item>
    </ion-list>

    <ion-list class="item-icon-right">
      <ion-item class="item-divider">
        <span>选填信息</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>出厂时间：</span>
        <span ng-bind="(_case.factoryTime | time)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>牌照所在地：</span>
        <span ng-bind="(_case.licenseLocation | city)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>心理价位：</span>
        <span ng-bind="'&yen' + _case.expectedPrice" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>改装内容：</span>
        <span ng-bind="_case.modifiedContent" class="pull-right"></span>
      </ion-item>
    </ion-list>

    <ion-list class="item-icon-right" ng-if="_case.showValueInfoInView">
      <ion-item class="item-divider">
        <span>评估信息</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>评估师姓名：</span>
        <span ng-bind="_case.valuerName" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>销售底价：</span>
        <span ng-bind="'&yen' + _case.floorPrice" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>4S店优惠价格：</span>
        <span ng-bind="'&yen' + _case.preferentialPrice" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>网络均价：</span>
        <span ng-bind="'&yen' + _case.webAveragePrice" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>网络报价：</span>
        <span ng-bind="'&yen' + _case.webPrice" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>售卖等级：</span>
        <span ng-bind="(_case.saleGrade | saleGrade)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>查询最大里程：</span>
        <span ng-bind="_case.maxMileage" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>查询最小里程：</span>
        <span ng-bind="_case.minMileage" class="pull-right"></span>
      </ion-item>
    </ion-list>

    <ion-list class="item-icon-right" ng-if="_case.showYancheInfoInView">
      <ion-item class="item-divider">
        <span>验车信息</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>发动机编号：</span>
        <span ng-bind="_case.engineCode" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>保单号：</span>
        <span ng-bind="_case.insuranceCode" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>车牌号：</span>
        <span ng-bind="_case.licenseCode" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>车架编号：</span>
        <span ng-bind="_case.vinCode" class="pull-right"></span>
      </ion-item>
    </ion-list>

    <ion-list class="item-icon-right" ng-if="_case.showChaxunInfoInView">
      <ion-item class="item-divider">
        <span>查询信息</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>债务情况：</span>
        <span ng-bind="(_case.bondsState | boolState)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>债务情况备注：</span>
        <span ng-bind="_case.bondsNote" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>理赔记录：</span>
        <span ng-bind="(_case.claimState | boolState)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>理赔记录备注：</span>
        <span ng-bind="_case.claimNote" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>养护记录：</span>
        <span ng-bind="(_case.conservationState | boolState)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>养护记录备注：</span>
        <span ng-bind="_case.conservationNote" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>最后养护时间：</span>
        <span ng-bind="(_case.lastConservationTime | time)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>真实里程：</span>
        <span ng-bind="_case.realMileage" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>违章情况：</span>
        <span ng-bind="(_case.violationState | boolState)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>违章情况备注：</span>
        <span ng-bind="_case.violationNote" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>公司库存数量：</span>
        <span class="pull-right">0 辆</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>销售需求数量：</span>
        <span class="pull-right">0 辆</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>已售同款数量：</span>
        <span class="pull-right">0 辆</span>
      </ion-item>
    </ion-list>

    <ion-list class="item-icon-right">
      <ion-item class="item-divider"></ion-item>
      <ion-item type="item-text-wrap">
        <span>估价：</span>
        <span ng-bind="'&yen' + _case.purchasePrice" class="pull-right"></span>
      </ion-item>
    </ion-list>

    <ion-list ng-if="_case.enableTranscationsInView" >
      <ion-item type="item-text-wrap" class="item-icon-right" ng-click="_case.goTranscations()">
        <span class="pull-left">外源数据：</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <ion-list ng-if="_case.showPhotosInView">
      <ion-item class="item-divider"></ion-item>
      <ion-item type="item-text-wrap">
        <span>车辆图片：</span>
      </ion-item>
      <ion-item ng-repeat="photo in _case.photoContents">
        <img ng-src="{{ photo }}">
      </ion-item>
    </ion-list>

    <button ng-bind="_case.rejectButtonText" ng-click="_case.reject()" ng-if="_case.showRejectButtonInView" class="button button-block button-cp-green"></button>
    <button ng-bind="_case.confirmButtonText" ng-click="_case.confirm()" ng-if="_case.showConfirmButtonInView" class="button button-block button-cp-dark"></button>
  </ion-content>
</ion-view>
