<ion-view view-title="事项审核">
  <ion-content class="case-detail">
    <ion-list>
      <ion-item>
        <p>序列号：<span ng-bind="_case.caseNo"></span></p>
      </ion-item>
      <ion-item>
        <p>当前状态：<span ng-bind="(_case.state | state)"></span></p>
      </ion-item>
    </ion-list>
    <ion-list class="item-icon-right">
      <ion-item class="item-divider"></ion-item>
      <ion-item type="item-text-wrap">
        <span>车辆品牌：</span>
        <span ng-bind="_case.brandName" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>所属车系：</span>
        <span ng-bind="_case.seriesName" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>车辆型号：</span>
        <span ng-bind="_case.modelName" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>表显里程：</span>
        <span ng-bind="(_case.displayMileage)" class="pull-right"></span>
      </ion-item>
    </ion-list>
    <ion-list class="item-icon-right">
      <ion-item class="item-divider"></ion-item>
      <ion-item type="item-text-wrap">
        <span>评估价格：</span>
        <span ng-bind="_case.purchasePrice" class="pull-right"></span>
      </ion-item>
    </ion-list>

    <h4>请输入以下信息：</h4>
    <form name="shenhe">
      <div class="list list-inset padding">
        <label class="item item-input">
          <i class="icon ion-model-s placeholder-icon"></i>
          <input type="number" name="price" ng-model="_case.price" placeholder="请输入核准的价格" required min="1" max="900000000" ng-trim="true">
        </label>
      </div>
      <div ng-messages="shenhe.price.$error" ng-if="shenhe.price.$dirty" role="alert" class="padding ng-input-error">
        <div ng-message="required, minlength">
          请输入核准的价格
        </div>
      </div>
    </form>


    <button class="button button-block button-cp-dark" ng-click="_case.confirm()" ng-disabled="!_case.buttonEnable()">确认提交</button>
  </ion-content>
</ion-view>
