<ion-view view-title="待办详情">
  <ion-content class="case-detail">
    <ion-list>
      <ion-item>
        <p>序列号：<span ng-bind="_case.caseNo"></span></p>
      </ion-item>
      <ion-item>
        <p>当前状态：<span ng-bind="(_case.state | state)"></span></p>
      </ion-item>
    </ion-list>
    <ion-list class="item-icon-right">
      <ion-item class="item-divider">
        <span>必填信息</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>车辆品牌：</span>
        <span ng-bind="_case.brandName" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>所属车系：</span>
        <span ng-bind="_case.seriesName" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>车辆型号：</span>
        <span ng-bind="_case.modelName" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>外部颜色：</span>
        <span ng-bind="(_case.outerColor | colorName)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>内饰颜色：</span>
        <span ng-bind="(_case.innerColor | colorName)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>上牌时间：</span>
        <span ng-bind="(_case.licenseTime | time)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>车辆所在地：</span>
        <span ng-bind="(_case.vehicleLocation | city)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>表显里程：</span>
        <span ng-bind="(_case.displayMileage)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>合作方式：</span>
        <span ng-bind="(_case.cooperationMethod | cooperationMethod)" class="pull-right"></span>
      </ion-item>
    </ion-list>
    <ion-list class="item-remove-animate item-icon-right">
      <ion-item class="item-divider">
        <span>选填信息</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>出厂时间：</span>
        <span ng-bind="(_case.factoryTime | time)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>牌照所在地：</span>
        <span ng-bind="(_case.licenseLocation | city)" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>心理价位：</span>
        <span ng-bind="_case.expectedPrice" class="pull-right"></span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span>改装内容：</span>
        <span ng-bind="_case.modifiedContent" class="pull-right"></span>
      </ion-item>
    </ion-list>

    <ion-list ng-if="_case.enableTranscations()" >
      <ion-item type="item-text-wrap" class="item-icon-right" ng-click="_case.goTranscations()">
        <span class="pull-left">外源数据：</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">
        <span>车辆图片：</span>
      </ion-item>
      <ion-item ng-repeat="photo in _case.photoContents">
        <img ng-src="{{ photo }}">
      </ion-item>
    </ion-list>

    <button ng-bind="_case.rejectButtonText" ng-click="_case.reject()" ng-if="_case.showRejectButton()" class="button button-block button-cp-green"></button>
    <button ng-bind="_case.confirmButtonText" ng-click="_case.confirm()" ng-if="_case.showConfirmButton()" class="button button-block button-cp-dark"></button>
  </ion-content>
</ion-view>
